#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(blue, white);
}

h1 {
  color: black;
}
