.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  background: transparent;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.input {
  margin-left: 35px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: aliceblue;
  height: 30px;
  width: 300px;
  color: black;
  font-size: 16px;
  box-shadow: 6px 4px 4px rgb(0, 42, 255);
}
.button {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  margin-right: 20px;
  margin-bottom: 10px;
}
